<template>
  <div>
     <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 ">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            <p>Car Service</p>
                            <h3>ยินดีต้อนรับ สู่ Car project บริการทำสีรถ</h3>
                                <a class="boxed-btn3" href="#">Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>