<template>
<div>
<div class="modal fade" id="register" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <div class="avatar">
                    <img src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" alt="Avatar" width="50px">
                </div>
                <h4 class="modal-title">สมัครสมาชิก</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="text" class="form-control" v-model="form.email" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="form.password" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-btn" @click="submitlogin()">Login</button>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: '',
                password: '',
            }
        }
    },
    methods: {
        submitlogin() {
            axios.post('submitlogin',this.form).then(res => {
               
               if(res.data.status==200){
                this.$swal({
                    title: 'success!',
                    text: 'Login สำเร็จ',
                    icon: 'success',
                    confirmButtonText: 'Cool'
                })
               }
               else {
                   this.$swal({
                    title: 'success!',
                    text: 'กรุณากรอกusername และ password ให้ถูกต้อง',
                    icon: 'error',
                    confirmButtonText: 'Cool'
                })
               }

              
            })
        },
    }
}
</script>



<style>
.modal.show .modal-dialog {
    top: 300px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
 
}
</style>