<template>
<div>
<div class="modal fade" id="theModal-1"   role="dialog">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <div class="avatar">
                    <img src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" alt="Avatar" width="50px">
                </div>
                <h4 class="modal-title">Member Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="text" class="form-control" v-model="form.email" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="form.password" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-btn" @click="submitlogin()">Login</button>
                      <center><a  href="#" class="" @click="modalregister()">สมัครสมาชิก</a></center>
                </div>
                
            </div>

        </div>
    </div>
   
</div> 

  <div class="modal fade" id="register" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <div class="avatar">
                    <img src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" alt="Avatar" width="50px">
                </div>
                <h4 class="modal-title">สมัครสมาชิก</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="email" class="form-control" v-model="formregister.email" placeholder="email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="formregister.password" placeholder="Password" required="required">
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control" v-model="formregister.firstname" placeholder="กรุณากรอกชื่อ" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="formregister.lastname" placeholder="กรุณากรอกนามสกุล" required="required">
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control" v-model="formregister.address" placeholder="กรุณากรอกที่อยู่" required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="formregister.tel" placeholder="กรุณากรอกเบอร์โทรศัพท์" required="required">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block login-btn" @click="submitregister()">สมัครสมาชิก</button>
                     <button class="btn btn-danger btn-lg btn-block login-btn" @click="closemodal()">ปิด</button>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
</template>

<script>

export default {

    data() {
        return {
            form: {
                email: '',
                password: '',
                
            },
            display :null,
            formregister:{
                email: '',
                password: '',
                firstname:'',
                lastname :'',
                tel :'',
                address :'',
            },
            showmodal :false,
        }
    },
    methods: {
        submitlogin() {
            axios.post('submitlogin',this.form).then(res => {
               
               if(res.data.status==200){
                this.$swal({
                    title: 'success!',
                    text: 'Login สำเร็จ',
                    icon: 'success',
                    confirmButtonText: 'ปิด'
                }).then(()=>{
                     window.location.href ="/";
                })
                
               }
               else {
                   this.$swal({
                    title: 'success!',
                    text: 'กรุณากรอกusername และ password ให้ถูกต้อง',
                    icon: 'error',
                    confirmButtonText: 'ปิด'
                })
               }

              
            })
        },
        submitregister() {
            axios.post('submitregister',this.formregister).then(res => {
               
               if(res.data.status==200){
                this.$swal({
                    title: 'success!',
                    text: 'สมัครสมาชิกสำเร็จ',
                    icon: 'success',
                    confirmButtonText: 'ปิด'
                }).then(()=>{
                  $('#register').modal('hide');
                  $('#theModal-1').modal('show');
                })
              
              
               }
               else {
                   this.$swal({
                    title: 'success!',
                    text: 'ผิดพลาด กรุณาลองใหม่',
                    icon: 'error',
                    confirmButtonText: 'ปิด'
                })
               }


              
            })
        },
           modalregister()
       {
        //  $('#theModal-1').modal('hide');
         $('#register').modal('show');

       },
       closemodal()
       {
        //  $('#register').modal('hide');
     
         this.display =  'none';
       }
    }
}
</script>



<style>
.modal.show .modal-dialog {
    top: 300px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
 
}

</style>