<template>
    <div>
        <b-container class="form-checkin">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-card>
                    <b-form-group
                        id="input-group-1"
                        label="ชื่อ:"
                        label-for="input-1"
                    >
                        <b-form-input
                            id="input-1"
                            v-model="form.firstname"
                            type="text"
                            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-2"
                        label="นามสกุล :"
                        label-for="input-2"
                    >
                        <b-form-input
                            id="input-2"
                            v-model="form.surname"
                            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-1"
                        label="เบอร์โทรศัพท์:"
                        label-for="input-1"
                    >
                        <b-form-input
                            id="input-1"
                            v-model="form.tel"
                            type="text"
                            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-1"
                        label="อีเมล์:"
                        label-for="input-1"
                    >
                        <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-button type="submit" variant="primary">Checkin</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-card>
            </b-form>

            <div class="columns is-mobile has-text-centered">
                <div class="column is-6">
                    <figure class="image is-3by2">
                        <img src="view.jpg" />
                    </figure>
                    <!-- <img src="view.jpg"> -->
                </div>
                <div class="column is-6">
                    <figure class="image is-3by2">
                        <img src="logo.jpg" />
                    </figure>
                    <!-- <img src="logo.jpg"> -->
                </div>
            </div>
            <h1 class="title">VueJs Line LIFF Showcase</h1>
            <div class="columns is-mobile">
                <div class="column is-12 has-text-centered buttons">
                    <button @click="openWindow()" class="button is-primary">
                        Open Window
                    </button>
                    <button @click="closeWindow()" class="button is-info">
                        Close Window
                    </button>
                    <button @click="sendMessage()" class="button is-success">
                        Send Message
                    </button>
                    <button @click="getProfile()" class="button is-danger">
                        Get Profile
                    </button>
                </div>
            </div>
            <h2 class="subtitle">Profile</h2>
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">User ID:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <!-- {{ profile.userId || '-' }} -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Display Name:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <!-- {{ profile.displayName || '-' }} -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Picture URL:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <!-- {{ profile.pictureUrl || '-' }} -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Status Message:</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <!-- {{ profile.statusMessage || '-' }} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </b-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: "",
                firstname: "",
                surname: "",
                tel: "",
            },
            foods: [
                { text: "Select One", value: null },
                "Carrots",
                "Beans",
                "Tomatoes",
                "Corn",
            ],
            show: true,
        };
    },
   async beforeCreate() {
          const liffId = '1655685859-6aavrlVY';
              await  this.$liff.init({ liffId })
    },
  async  created() {

    
               
    },
    methods: {
        onSubmit(event) {
            event.preventDefault();
            alert(JSON.stringify(this.form));
        },
        onReset(event) {
            event.preventDefault();
            // Reset our form values
            this.form.email = "";
            this.form.name = "";
            this.form.food = null;
            this.form.checked = [];
            // Trick to reset/clear native browser form validation state
            this.show = false;
            // this.$nextTick(() => {
            //   this.show = true
            // })
        },
        openWindow() {
            this.$liff.openWindow({
                url: "https://developers.line.me/en/docs/liff/overview/",
            });
        },
        closeWindow() {
            this.$liff.closeWindow();
        },
        sendMessage() {
            this.$liff
                .sendMessages([
                    {
                        type: "text",
                        text: "You/'ve successfully sent a message! Hooray!",
                    },
                    {
                        type: "sticker",
                        packageId: "2",
                        stickerId: "144",
                    },
                ])
                .then(function () {
                    window.alert("Message sent");
                })
                .catch(function (error) {
                    window.alert("Error sending message: " + error);
                });
        },
        getProfile() {
            let _this = this;
            this.$liff
                .getProfile()
                .then(function (profile) {
                    _this.profile = profile;

                    alert(_this.profile.userId);
                })
                .catch(function (error) {
                    alert("Error getting profile: " + error);
                });
        },
    },
};
</script>

<style lang="scss" scoped>
.form-checkin {
    display: block;
    margin-top: 100px;
    & button {
        font-size: 18px;
    }
}
</style>
