<template>
  <div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">ข้อมูลประเภทสี</h3>
      </div>
      <div class="panel-body">
        <!-- <b-form @submit="onSubmit" @reset="onReset" v-if="show"> -->
        <b-form-group id="input-group-1" label="name:" label-for="input-1">
          <b-form-input
            id="name"
            v-model="name"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" @click="addtype()" variant="primary"
          >บันทึก</b-button
        >
        <!-- </b-form> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: this.typeId,
      name: "",
      detail: "",
    };
  },
  async created() {},
  methods: {
    addtype() {
      var formData = new FormData();
      var name = this.name;

      formData.append("name", name);

      axios
        .post("/backend/add_save_color/", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((res) => {
          this.$swal({
            title: "success!",
            text: "เพิ่มข้อมูลเรียบร้อย",
            icon: "success",
            confirmButtonText: "ปิด",
          }).then(() => {
            window.location.href = "../typecolor";
          });
        })
        .catch(function (error) {
          this.$swal({
            title: "Error!",
            text: "ผิดพลาด กรุณาลองใหม่",
            icon: "error",
            confirmButtonText: "ปิด",
          });
        });
    },
  },
};



</script>


<style>
</style>

