<template>
  <div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">ข้อมูลประเภทรถ</h3>
      </div>
      <div class="panel-body">
        <!-- <b-form @submit="onSubmit" @reset="onReset" v-if="show"> -->
        <b-form-group id="input-group-1" label="name:" label-for="input-1">
          <b-form-input
            id="name"
            v-model="name"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-1" label="detail:" label-for="input-1">
          <b-form-textarea
            id="detail"
            v-model="detail"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-textarea>
        </b-form-group>
        <b-button type="submit" @click="edittype()" variant="primary"
          >แก้ไข</b-button
        >
        <!-- </b-form> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["typeId"],
  data() {
    return {
      id: this.typeId,
      name: "",
      detail: "",
    };
  },
  async created() {
    let $this = this;

    const typecar = await axios.get("/backend/show_type/" + $this.id + "");
    console.log(typecar);
    $this.name = typecar.data.name;
    $this.detail = typecar.data.detail;
  },
  methods: {
    edittype() {
             var name = this.name;
      var id = this.id;
          var detail = this.detail;
      axios
        .put("/backend/editdatatype/" + id, { name: name,detail:detail})
        .then((res) => {
        this.$swal({
                    title: 'success!',
                    text: 'แก้ไขข้อมูลสำเร็จ',
                    icon: 'success',
                    confirmButtonText: 'ปิด'
                }).then(()=>{
                       window.location.href = "../index";
                })
        })
        .catch(function (error) {
               this.$swal({
                    title: 'Error!',
                    text: 'ผิดพลาด กรุณาลองใหม่',
                    icon: 'error',
                    confirmButtonText: 'ปิด'
                })
        });
    },
  },
};

$(document).ready(function () {
  $("#example").DataTable();
});
</script>


<style>
</style>

