<template>
  <div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">ข้อมูลการจองทำสีรถยนต์</h3>
      </div>
      <div class="panel-body">
        <!-- <b-form @submit="onSubmit" @reset="onReset" v-if="show"> -->
        <b-form-group id="input-group-1" label="name:" label-for="input-1">
          <b-form-input
            id="name"
            v-model="name"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-input>
        </b-form-group>
           <b-form-group id="input-group-1" label="ประเภท:" label-for="input-1">
            <b-form-input
            id="name"
            v-model="type"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-input>
        </b-form-group>
           <b-form-group id="input-group-1" label="สี:" label-for="input-1">
            <b-form-input
            id="name"
            v-model="color"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-input>
        </b-form-group>
                <b-form-group id="input-group-1" label="วันที่จอง:" label-for="input-1">
            <b-form-input
            id="name"
            v-model="date"
            type="text"
            placeholder="กรุณากรอกข้อมูลให้ถูกต้อง"
            required
          ></b-form-input>
        </b-form-group>
                    <b-form-group id="input-group-1" label="สลิปโอน:" label-for="input-1">
        <img :src ="'http://127.0.0.1:8000/frontend/slip/'+slip" width="300" height="300">
         </b-form-group>
             <b-form-group id="input-group-1" label="สลิปโอน:" label-for="input-1">
     <b-form-select v-model="status" class ="form-control" :options="options"></b-form-select>
         </b-form-group>
        <b-button type="submit" @click="edittype()"  variant="primary"
          >บันทึก</b-button
        >
        <!-- </b-form> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["orderId"],
  data() {
    return {
      id: this.orderId,
      name: "",
      color: "",
      type:"",
      date:"",
              options: [
          { value: 'รอการตรวจสอบ', text: 'รอการตรวจสอบ' },
          { value: 'ตรวจสอบชำระแล้ว', text: 'ตรวจสอบชำระแล้ว' },
          { value: 'ปฏิเสธชำระเงิน', text: 'ปฏิเสธชำระเงิน' },
        ]
    };
  },
  async created() {
    let $this = this;

    const order = await axios.get("/backend/showorder/" + $this.id + "");
    console.log(order);
    $this.name = order.data.members.firstname+"   " +order.data.members.lastname;
    $this.type = order.data.type_car.name;
    $this.color = order.data.type_color.name;
     $this.date = order.data.book_date;
     $this.slip = order.data.slip;
       $this.status = order.data.status;
  },
  methods: {
    edittype() {
             var status = this.status;
      var id = this.id;
      axios
        .put("/backend/editdataorder/" + id, { status: status})
        .then((res) => {
        this.$swal({
                    title: 'success!',
                    text: 'ปรับสถานะเรียบร้อย',
                    icon: 'success',
                    confirmButtonText: 'ปิด'
                }).then(()=>{
                       window.location.href = "../order";
                })
        })
        .catch(function (error) {
               this.$swal({
                    title: 'Error!',
                    text: 'ผิดพลาด กรุณาลองใหม่',
                    icon: 'error',
                    confirmButtonText: 'ปิด'
                })
        });
    },
  },
};

$(document).ready(function () {
  $("#example").DataTable();
});
</script>


<style>
</style>

