<template>
  <div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">ข้อมูลประเภทรถ</h3>
      </div>
      <div class="panel-body">
        <table id="example" class="table" style="width: 100%">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>detail</th>

              <th>ex</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(datas, i) in pdatas" :key="i">
              <td>{{ datas.id }}</td>
              <td>{{ datas.name }}</td>
              <td>{{ datas.detail }}</td>
              <td>
             <a v-bind:href="'/backend/edit_type/'+datas.id+''" class ="btn btn-sm btn-info">แก้ไข</a>
                <!-- <button
                  v-on:click="deletes(datas.id)"
                  class="btn btn-sm btn-danger"
                >
                  <i class="fa fa-trash"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pdatas: [],
    };
  },
  async created() {
    var pdata = await axios.get("typecar");
    this.pdatas = pdata.data;
  },
  methods: {
    async edit(id) {
            await axios.get("edit_type");
    },
  }
};


</script>


<style>
</style>

