<template>
  <div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">ข้อมูลการจองทำสีรถยนต์</h3>
      </div>
      <br />
      <br />
      <div class="panel-body">
        <table id="example" class="table" style="width: 100%">
          <thead>
            <tr>
              <th>id</th>
              <th>สมาชิก</th>
              <th>ประเภท</th>
              <th>สี</th>
              <th>สถานะ</th>
              <th>วันที่จอง</th>
              <th>ex</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(datas, i) in pdatas" :key="i">
              <td>{{ datas.id }}</td>
              <td>
                {{ datas.members.firstname }} {{ datas.members.lastname }}
              </td>
              <td>{{ datas.type_car.name }}</td>
              <td>{{ datas.type_color.name }}</td>
              <td>{{ datas.status }}</td>
              <td>{{ datas.book_date }}</td>
              <td >
                  <div v-if ="datas.status !='รอชำระเงิน'">
                <a
                  v-bind:href="'/backend/editorder/' + datas.id + ''"
                  class="btn btn-sm btn-info"
                  ><i class="fa fa-edit"></i
                ></a>
                <button
                  v-on:click="deletes(datas.id)"
                  class="btn btn-sm btn-danger"
                >
                  <i class="fa fa-trash"></i>
                </button>
                </div>
                      <div v-if ="datas.status =='รอชำระเงิน'">
                <button
                  v-on:click="deletes(datas.id)"
                  class="btn btn-sm btn-danger"
                >
                  <i class="fa fa-trash"></i>
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

 
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pdatas: [],
    };
  },
  async created() {
    await axios.get("orderdetail").then((res) => {
      this.pdatas = res.data;
    
    });
  },
  methods: {
    async edit(id) {
      await axios.get("edit_type");
    },
    async deletes(id) {
      await axios
        .delete("delete_color/" + id)
        .then((res) => {
          this.$swal({
            title: "success!",
            text: "ลบข้อมูลเรียบร้อย",
            icon: "success",
            confirmButtonText: "ปิด",
          });
          axios.get("type_color").then((res) => {
            this.pdatas = res.data;
          });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    initDatatable() {
      setTimeout(() => {
        
      }, 300);
    },
  },
};
</script>


<style>
</style>

