<template>
  <div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3 class="panel-title">ข้อมูลประเภทสี</h3>
      </div>
           <div class="col-sm-6 text-left mb-8 mt-8">
             <a v-bind:href= "'/backend/add_type_color/'"
                  class="btn btn-sm btn-primary"
                  ><i class="fa fa-plus"></i
                >Create</a>
              </div>
              <br> <br>
      <div class="panel-body">
        <table id="example" class="table" style="width: 100%">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>

              <th>ex</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(datas, i) in pdatas" :key="i">
              <td>{{ datas.id }}</td>
              <td>{{ datas.name }}</td>
              <td>
                <a
                  v-bind:href="'/backend/edit_color/' + datas.id + ''"
                  class="btn btn-sm btn-info"
                  ><i class="fa fa-edit"></i
                ></a>
                <button
                  v-on:click="deletes(datas.id)"
                  class="btn btn-sm btn-danger"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pdatas: [],
    };
  },
  async created() {
    var pdata = await axios.get("type_color");
    this.pdatas = pdata.data;
  },
  methods: {
    async edit(id) {
      await axios.get("edit_type");
    },
    async deletes(id) {
      await axios
        .delete("delete_color/" + id)
        .then((res) => {
          this.$swal({
            title: "success!",
            text: "ลบข้อมูลเรียบร้อย",
            icon: "success",
            confirmButtonText: "ปิด",
          });
          axios.get("type_color").then((res) => {
            this.pdatas = res.data;
          });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};


</script>


<style>
</style>

