<template>
  <div>

   
       <div class="Estimate_area overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-5">
                    <div class="Estimate_info">
                        <h3>จองทำสีรถ</h3>
                        <p>เมื่อจองเสร็จแล้ว ให้ทำการชำระเงินผ่านเมนู ชำระเงิน ตามหมายเลข Order ของท่าน
                           มีค่าจองจำนวน 500 บาท ต่อ 1 orders ของท่าน
                        </p>
                     
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="form">
                       
                            <div class="row">

                                <div class="col-xl-6">
                                    <div class="input_field ">
                                        <select class="wide form-control" v-model="form.type_car_id">
                                            <option  value="" data-display="Product type">ยี่ห้อรถยนต์</option>
                                            <option  :value="type_cars.id" v-for="(type_cars,index) in type_car" :key="index">
                                                {{type_cars.name}}
                                                </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide form-control"  v-model="form.color_id">
                                            <option value="" data-display="Product size">ประเภทสี</option>
                                            <option :value="type_colors.id" v-for="(type_colors,index) in type_color" :key="index">
                                                {{type_colors.name}}
                                                </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field ">
                                         <input type="text" v-model="form.number_car" placeholder="กรอกเลขทะเบียนรถ">
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field ">
                                         <input type="date"  v-model="form.book_date" placeholder="เลือกวันที่ทำรายการ">
                                    </div>
                                </div>


                                <br>
                               
                                <div class="col-xl-12">
                                    <div class="input_field">
                                        <textarea placeholder="ข้อความ" v-model="form.detail"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field">
                                        <button class="boxed-btn3-line" v-if="checkauth==1" @click="submitbooking()">ทำรายการจอง</button>
                                         <button class="boxed-btn3-line" v-if="checkauth==0" >กรุณาสมัครสมาชิก</button>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    props:['checkauth'],
    data() {
        return {
            type_car :[],
            type_color :[],
            form:{
                color_id :'',
                type_car_id:'',
                book_date :'',
                detail :'',
                number_car :'',
            }
        
        }
    },
   async created()
    {
      const type_color  =  await axios.get('type_color');
          this.type_color  =type_color.data;
      const type_car  = await  axios.get('type_car');
         this.type_car  =type_car.data;

    },
    methods:{
        submitbooking()
        {
              axios.post('submitbooking',this.form).then(res => {
               
               if(res.data.status==200){
                this.$swal({
                    title: 'success!',
                    text: 'ทำรายการสำเร็จกรุณาชำระเงินเพื่อเสร็จสิ้น',
                    icon: 'success',
                    confirmButtonText: 'ปิด'
                }).then(res=>{
                    window.location.href ="http://127.0.0.1:8000/payment";
                })
              
               }
               else {
                   this.$swal({
                    title: 'success!',
                    text: 'กรุณากรอกข้อมูลให้ครบ',
                    icon: 'error',
                    confirmButtonText: 'ปิด'
                })
               } 
            })
        }
    }
}
</script>

<style>
 .wide{
     margin-bottom: 20px;
 }
 .boxed-btn4-line {
    color: #FF3414 !important;
    display: inline-block;
    padding: 14px 31px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border: 1px solid #FF3414;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    background: transparent;
}
.boxed-btn4-line {
    color: blue !important;
    display: inline-block;
    padding: 14px 31px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border: 1px solid #FF3414;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    background: transparent;
}
</style>