<template>
<div class="container">
    <div class="section-top-border">
        <h3 class="mb-30">รายการยังไม่ชำระเงิน</h3>
        <div class="progress-table-wrap">
            <div class="progress-table">
                <div class="table-head">
                    <div class="serial">#</div>
                    <div class="country">วันที่ทำรายการ</div>
                    <div class="visit">ยี่ห้อ</div>
                    <div class="percentage">สีที่ทำ</div>
                    <div class="percentage">สถานะ</div>
                    <div class="percentage">Ex</div>
                </div>
                <div class="table-row" v-for="(order_members,index) in order_member" :key="index">
                    <div class="serial">{{index+1}}</div>
                    <div class="country">{{order_members.book_date}}</div>
                    <div class="visit">{{order_members.type_car.name}}</div>
                    <div class="percentage">
                        {{order_members.type_color.name}}
                    </div>
                    <div class="percentage">
                        {{order_members.status}}
                    </div>
                    <div class="percentage">
                        <button id="show-modal" @click="openmodal(order_members.id)">แนบสลิป</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <modal v-if="showModal" @close="showModal = false">
    <div  slot="body">
          <input type="file" accept="image/*" @change="fileSelected($event)">
           <img v-if="image" :src="image" width="200px">
            <br>
            <br>
   </div>

 <p slot="footer">
 <center><button class="btn btn-success" @click="updateslip()">บันทึกข้อมูล</button>
 <button class="btn btn-danger" @click="closemodal(false)">ปิด</button>
 </center>
 </p>
    </modal>

    <script type="text/x-template" id="modal-template">
        <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">

                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">

                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
</div>
</template>

<script>
  Vue.component("modal", {
        template: "#modal-template"
      });
export default {
  data() {
      return {
          order_member:[],
           showModal: false,
           order_id : null,
           image: "",
           slip : '',
      }
  },
 async  created(){
      const order_member = await axios.get('get_order');
      this.order_member  = order_member.data;
  },
 methods:{
  openmodal(id)
  {
      this.order_id =  id;
      this.showModal = true;
  },
   closemodal()
  {
      this.showModal = false;
  },
    fileSelected(event){
      const file = event.target.files.item(0);
    this.slip  = file;
      console.log(event.target.files.item(0));
      const reader = new FileReader();
      reader.addEventListener('load', this.imageLoaded);
      reader.readAsDataURL(file);
    },
    imageLoaded(event){
      this.image = event.target.result;

    },
    updateslip(){
         let formData = new FormData();
         formData.append('images', this.slip);
         axios.post('updateslip/'+this.order_id,formData).then(res=>{
             if(res.data.status==200)
             {
                 this.$swal({
                    title: 'success!',
                    text: 'ทำรายการชำระเงินสำเร็จ',
                    icon: 'success',
                    confirmButtonText: 'ปิด'
                }).then(()=>{
                     window.location.reload();
                })
                this.showModal = false;
                   
             }
             else{
                  this.$swal({
                    title: 'success!',
                    text: 'ผิดพลาด กรุณาลองใหม่',
                    icon: 'error',
                    confirmButtonText: 'ปิด'
                })
             }
         }).catch(error)
         {
                comsole.log(error);
         }
         
    }
  }
}
</script>

<style>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
